/* Application wide styles */

.root-dark{
    -fx-base-dark: #2f2e33;
    -fx-base-light: #424045;
    -fx-button: #5f5e61;
    -fx-button-grad: #5f5e63;
    -fx-list-view-hover: #14686c;
    -fx-button-hover: #20a5ac;
    -fx-text: #cbcbcb;
}

.root-light{
    -fx-base-dark: #ebebeb;
    -fx-base-light: #ebebeb;
    -fx-button: #d9d9d9;
    -fx-button-grad: #e3e3e3;
    -fx-list-view-hover: #7ee2e7;
    -fx-button-hover: #28cfd7;
    -fx-text: #1a1a1a;
}

/* main */
.BorderPane, .GridPane, .main-panel {
    -fx-background-color: -fx-base-dark;
}
.menu, .center{
    -fx-border-style: solid;
    -fx-border-width:4px;
    -fx-border-color: -fx-button;
    -fx-background-color: -fx-base-light;
    -fx-max-height: infinity;
}
.center{
    -fx-background-color: -fx-base-dark;
}
.text-field, .menu-button, .label, .button, .toggle-button {
    -fx-background-color: -fx-button;
    -fx-text-fill: -fx-text;
    -fx-font-size: 17px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}
.menu-item:hover, .button:hover, .toggle-button:hover, .transparent:hover, .toggle-button:selected, #color:selected {
    -fx-background-color: -fx-button-hover;
}
.label {
    -fx-background-color: none;
}
.button {
    -fx-background-color: linear-gradient(-fx-button, -fx-button-grad);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment: center;
}
.error{
    -fx-border-color: red;
}
#welcomeText{
    -fx-font-size: 30;
}
.transparent{
    -fx-background-color: transparent;
}

/* list-view */
.list-view{
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0px;
    -fx-border-color: -fx-base-dark;
    -fx-background-color: -fx-base-light;
}
.list-cell{
    -fx-background-color: -fx-base-light;
    -fx-border-color: -fx-base-dark;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-pref-height: 70px;
}
.list-cell:hover {
    -fx-background-color: -fx-list-view-hover;
    -fx-text-fill: -fx-text;
}
/* Scrollbar */
.list-view .scroll-bar:horizontal .track,
.list-view .scroll-bar:vertical .track{
    -fx-background-color:-fx-base-light;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}
.list-view .scroll-bar:horizontal .increment-button ,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:-fx-button;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;
}
.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color:-fx-button;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 5;
}
.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:-fx-button;
    -fx-background-insets: 2, 0, 0;
}

/* menu-button */
.menu-item{
    -fx-background-color: -fx-button;
    -fx-border-color: -fx-base-light;
    -fx-pref-width: 175;
    -fx-pref-height: 45;
}
.context-menu{
    -fx-background-color: -fx-button;
    -fx-pref-width: 175;
    -fx-background-radius: 0;
    -fx-padding:0;
}


/* roommate */
.moveOutButton{
    -fx-alignment: center-right;
    -fx-border-color: red;
}
.roommate{
    -fx-spacing: 20;
    -fx-pref-height: 120;
    -fx-alignment: center-left;
}
.hboxHead{
    -fx-spacing: 20;
    -fx-pref-height: 120;
    -fx-alignment: center-left;
}
.heading{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

#ownProfilePic {
    -fx-effect: dropshadow(one-pass-box,-fx-button-hover,10,5.0,0,0)
}
#profil{
    -fx-alignment: center;
}

/* groceryList */
.grocerylist{
    -fx-spacing: 5;
    -fx-pref-height: 50;
    -fx-alignment: center-left;
}
.contentLabel{
    -fx-min-width: 76;
    -fx-max-width: 2000;
}
.typeLabel{
    -fx-pref-width: 100;
    -fx-text-fill: -fx-base-dark;
}
.columnthree{
    -fx-min-width: 76;
    -fx-pref-width: 170;
    -fx-alignment: center-left;
}
.columnfour{
    -fx-min-width: 76;
    -fx-pref-width: 80;
}
.deleteButton{
    -fx-pref-width: 80;
    -fx-background-color: -fx-button;
}

/* blackboard */
.contentLabelWrap{
    -fx-min-width: 76;
    -fx-max-width: 750;
}
#checkboxPinned {
    -fx-text-fill: -fx-button-hover;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
}
.pinButtonListView{
    -fx-pref-width: 20;
    /*-fx-alignment: center-left;*/
}
.userAndTimeVbox{
    -fx-min-width: 76;
    -fx-pref-width: 120;
    -fx-alignment: center;
}
